<form class="form" (ngSubmit)="convert()" #f="ngForm" [formGroup]="convertForm">
  <div class="form__row">
    <div class="w-sm-50 mr-sm-5 mb-5 mb-5">
      <div class="flex align-center mb2">
        <label class="form__label" for="sourceSystemNumber">Source numeral system</label>
        <div data-tooltip="Enter a number from 2 to 36"><img src="assets/information.svg" class="ml2" alt="info"
            width="15px" height="15px"></div>
      </div>
      <input class="form__input" [class.input-error]="sourceSystemNumber.touched && sourceSystemNumber.errors"
        type="number" name="sourceSystemNumber" formControlName="sourceSystemNumber" />
      <div class="error-message" *ngIf="sourceSystemNumber.touched && sourceSystemNumber.errors?.required">This field is
        required</div>
      <div class="error-message"
        *ngIf="sourceSystemNumber.touched && sourceSystemNumber.errors?.max || sourceSystemNumber.errors?.min">Enter a
        number from 2 to 36</div>
    </div>
    <div class="w-sm-50">
      <div class="flex align-center mb2">
        <label class="form__label" for="targetSystemNumber">Target numeral system</label>
        <div data-tooltip="Enter a number from 2 to 36"><img src="assets/information.svg" class="ml2" alt="info"
            width="15px" height="15px"></div>
      </div>
      <input class="form__input" [class.input-error]="targetSystemNumber.touched && targetSystemNumber.errors"
        name="targetSystemNumber" formControlName="targetSystemNumber" />
      <div class="error-message" *ngIf="targetSystemNumber.touched && targetSystemNumber.errors?.required">This field is
        required</div>
      <div class="error-message"
        *ngIf="targetSystemNumber.touched && targetSystemNumber.errors?.max || targetSystemNumber.errors?.min">Enter a
        number from 2 to 36</div>
    </div>
  </div>

  <div>
    <div class="flex align-center mb2">
      <label class="form__label" for="numberToConvert">Number to be converted</label>
      <div data-tooltip="Enter a correct number in selected system"><img src="assets/information.svg" class="ml2"
          alt="info" width="15px" height="15px"></div>
    </div>
    <input class="form__input" [class.input-error]="numberToConvert.touched && numberToConvert.errors"
      name="numberToConvert" formControlName="numberToConvert" />
    <div class="error-message" *ngIf="numberToConvert.touched && numberToConvert.errors?.required">This field is
      required</div>
    <div class="error-message" *ngIf="numberToConvert.touched && numberToConvert.errors?.pattern">Is not a number</div>
  </div>
  <button class="btn btn--dark mr-3" [disabled]="convertForm.status !== 'VALID'">Convert</button>
  <button class="btn btn--basic" (click)="clearAll()">Clear</button>
  <br /> <br />
  <div class="break-word uppercase" [ngClass]="((checkIsNan() || !this.isCorrect) && afterConvert) ? 'output-error' : 'output'">
    {{ ((checkIsNan() || !this.isCorrect) && afterConvert) ? 'Calculation error - you entered an incorrect number' : output }}
  </div>
</form>