$red: #ff0033;
$breakpoint-md: 768px;


* {
    box-sizing: border-box;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.form {
    @media (min-width: $breakpoint-md) { 
        width: 650px;
        height: 450px;
    }
    padding: 90px 40px;
    background-color: white;

    &__input {
        border: 1px solid #e6e6e6;
        display: block;
        width: 100%;
        height: 42px;
        padding: 0 14px;
        border-radius: 5px;
    }

    &__row {
        @media (min-width: $breakpoint-md) { 
            display: flex;
        }
        margin-bottom: 25px;
    }

    &__label {
        font-weight: bold;
        text-transform: uppercase;
    }

}


.error-message {
    color: $red;
    font-size: 12px;
    margin-top: 4px;
}

.btn {
    font-size: 14px;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 25px;
    cursor: pointer;

    &--dark {
        background-color: #282828;
        color: white;
        border: 1px solid #333;
    }

    &--basic {
        background-color: white;
        border: 2px solid #333;
    }

    &[disabled] {
        opacity: 0.3;
    }
}


.output {
    font-size: 24px;
    font-weight: 600;
}

.output-error {
    color: $red;
}

.input-error {
    border: 1px solid $red;
}



// tooltip
  
  [data-tooltip] {
    position: relative;
    z-index: 2;
    cursor: pointer;
    height: 15px;
  }
  
  [data-tooltip]:before,
  [data-tooltip]:after {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
  
  [data-tooltip]:before {
    position: absolute;
    bottom: 150%;
    left: 50%;
    margin-bottom: 5px;
    margin-left: -80px;
    padding: 7px;
    width: 140px;
    border-radius: 3px;
    background-color: #282828;
    color: #fff;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
  }
  
  [data-tooltip]:after {
    position: absolute;
    bottom: 150%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid #000;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
  }
  
  [data-tooltip]:hover:before,
  [data-tooltip]:hover:after {
    visibility: visible;
    opacity: 1;
}


// helpers

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.mb2 {
    margin-bottom: 8px;
}

.mr-sm-5 {
    @media (min-width: $breakpoint-md) { 
        margin-right: 25px;
    }
}

.mr-3 { 
    margin-right: 12px;
}

.mb-sm-0 {
    @media (min-width: $breakpoint-md) { 
        margin-bottom: 0;
    }
}

.mb-5 {
    margin-bottom: 25px;
}

.ml2 {
    margin-left: 8px;
}

.break-word {
    overflow-wrap: break-word;
}

.w-sm-50 {
    @media (min-width: $breakpoint-md) { 
        width: 50%;
    }
}

.uppercase {
    text-transform: uppercase;
}